/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'); */

/* *{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
} */

.tb{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    flex: 1;
}

.scroll-tb{
    overflow-y: scroll;
}

.tb span{
    width: 23%;
    justify-content: center;
    overflow: hidden;
    /* border: black solid 1px; */
}

.header-tb{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px 10px 15px;
    border-bottom: rgb(214, 214, 214) solid 1px;
    color:rgba(129, 129, 129, 0.726);
    padding-top: 30px;
}

.content-tb{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    padding: 10px 15px 10px 15px;
    border-bottom: rgb(214, 214, 214) solid 1px;
    height: 30px;
    align-items: center;
}

.scroll-tb::-webkit-scrollbar {
    width: 5px;
}
 
.scroll-tb::-webkit-scrollbar-track {
    background-color: rgb(214, 214, 214);
}
 
.scroll-tb::-webkit-scrollbar-thumb {
  background-color: rgb(255, 153, 0);
  border-radius: 20px;
}


.bk-gridient{
    background: linear-gradient(314.19deg, rgba(0, 255, 209, 0.31) 20.51%, rgba(20, 0, 255, 0.38) 92.48%);
    animation-name: menuLeft;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes menuLeft{
    0%{background-color: rgba(0, 255, 209, 0.31);}
    15%{background-color: rgba(20, 0, 255, 0.38);}
    30%{background-color: rgba(66, 255, 0, 0.31);}
    45%{background-color: rgba(0, 163, 255, 0.38);}
    75%{background-color: rgba(255, 153, 0, 0.31);}
    90%{background-color: rgba(66, 255, 0, 0.38);}
    100%{background-color: rgba(0, 255, 209, 0.31);}
}



