/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'); */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.tb{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    flex: 1;
}

.scroll-tb{
    overflow-y: scroll;
}

.tb span{
    width: 23%;
    justify-content: center;
    overflow: hidden;
    /* border: black solid 1px; */
}

.header-tb{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px 10px 15px;
    border-bottom: rgb(214, 214, 214) solid 1px;
    color:rgba(129, 129, 129, 0.726);
    padding-top: 30px;
}

.content-tb{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    padding: 10px 15px 10px 15px;
    border-bottom: rgb(214, 214, 214) solid 1px;
    height: 30px;
    align-items: center;
}

.scroll-tb::-webkit-scrollbar {
    width: 5px;
}
 
.scroll-tb::-webkit-scrollbar-track {
    background-color: rgb(214, 214, 214);
}
 
.scroll-tb::-webkit-scrollbar-thumb {
  background-color: rgb(255, 153, 0);
  border-radius: 20px;
}



